.rating-section {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

button.spaced-top {
    width: 8em;
    left: 10.3em;
}

.characters-counter {
    width: 3em;
    border-radius: 0.5em;
    position: relative;
    left: 21.5em;
    bottom: 2.46em;
    color: white;
    box-shadow: 0.15em 0.3em 0.15em rgba(92, 92, 92, 0.2);
}

.safe {
    background-color:#458900;
}

.warning {
    background-color:#FFD700;
}

.exceeded {
    background-color:#E82933;
}