/* ============= SEARCH SECTION ============= */
.main-container-search{
    display: flex;
    width: 100vw !important;
    flex-direction: column; 
    padding: 1.5em; 
    gap: 1em;
}

div.main-container-check{
    min-height: auto;
    padding: 1em;
    border-radius: 15px;
    border: solid 1px lightgray;
    overflow: visible;
}

/* TITLE SECTION */
.title-box{
    display: flex;
    width: 100%;
    position: relative;
}

h6.title-main-container{
    display: flex;
    justify-content: center;
    font-weight: 600;
    width: 100%;
}

/* BOTON */
.box-button{
    display: flex;
    justify-content: end;
    padding-right: 0.5em;
    overflow: none;
}

button.btn-add{
    background-color: #E82933;
    padding: 0.2em;
    min-width: 0;
    box-shadow: none;
}

button.btn-primary{
    background-color: #E82933;
    padding: 0.8em;
    width: 100%;
    border-radius: 6px;
    text-transform: none;
    font-weight: 300;
}