.box-section-criteria{
    display: flex;
    width: 100%;
    position: relative;
}

/* MODAL */

div.modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    gap: 1rem;
    margin: 0 auto;
}
