.main-container-login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding: 0;
    margin: 0;
}

.header-logo {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    width: 80vw;

    h1 {
        font-size: var(--font-h3);
    }
}

.cooking-pot-logo {
    font-size: 2em;
    background-color: var(--primary-color);
    color: var(--background-color-primary);
    padding: .2em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
}