.mainCards:hover{ 
    width: 150;
    height: 200;
    min-width: 150; 
    min-Height: 200; 
    cursor: 'pointer';
    margin: 2;
    padding: 2;
    display: 'flex';
    flex-direction: 'column';
    overflow: 'hidden' ;
}

.cardMedia{
    height: 100;
    width: '100%';
    object-fit: 'cover';
}

.tipographyTitle{
    max-width: '100px'
}

.tipographySubtitle{
    color: 'text.secondary';
    max-width: '100px';
}