/* Contenedor del input y la lupa */
.search-container {
  position: relative;
  border-radius: 20px;
  background-color: #ffff;
  width: 100%;
  border-style: none;
}

.search-container:hover {
  background-color: #ffff;
}

/* Botón de la lupa */
.search-icon-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  border-radius: 10px;
  z-index: 1;
}

.search-icon-wrapper:hover {
  background-color: #eae8e8ff;
  border-color: none;
}

.search-icon-wrapper:focus,
.search-icon-wrapper:focus-visible {
  outline: none;
}

/* Input de búsqueda */
.styled-input-base {
  color: inherit;
  width: 100%;
  border-style: none;
}

.styled-input-base .MuiInputBase-input {
  padding: 8px 8px 8px 0; /* theme.spacing(1, 1, 1, 0) */
  padding-right: calc(1em + 32px); /* theme.spacing(4) ≈ 32px */
  width: 100%;
}