/* ============= SEARCH SECTION ============= */
.main-container-search{
    display: flex;
    flex-direction: column; 
    padding: 1.5em; 
    gap: 1em;
    font-family: var(--primary-font);
    height: 100%;
    width: 100vw;
}

div.main-container-check{
    min-height: auto;
    padding: 1em;
    border-radius: 15px;
    border: solid 1px lightgray;
    overflow: visible;
}

div.box-counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6em;
}

div.container-counter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

/* TITLE SECTION */
.title-box{
    display: flex;
    width: 100%;
    position: relative;
}

h6.title-main-container{
    display: flex;
    justify-content: center;
    font-weight: 600;
    width: 100%;
}

/* BOTON */
.box-button{
    display: flex;
    justify-content: end;
    padding-right: 0.5em;
    overflow: none;
}

button.btn-add{
    background-color: #E82933;
    padding: 0.2em;
    min-width: 0;
    box-shadow: none;
}

@media (min-width: 600px) {
    div.container-counter{
        padding-left: 0;
        padding-right: 0;
    }
}
